<div class="row">
    <div class="col-md-12">
        <h1>Quiz</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-7">
        <%= form_for(@quiz, url: url_for(:action => 'answer')) do |f| %>

            <% if @quiz.errors.any? %>
                <div id="error_explanation">
                    <h2><%= pluralize(@quiz.errors.count, "error") %> kept you from moving forward!</h2>
                    <ul>
                    <% @quiz.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                    </ul>
                </div>
            <% end %>

            <h3>
                <small><strong>
                    Question <%=@current_question_num%>
                </strong></small>
                <br/><br/>
                <%=@current_question.question%>
                <br/><br/>
                &nbsp;
                <% @answers.each do |ans| %>
                    <%= f.button ans, {name: "answer", value: ans, class: "btn btn-primary"} %>
                <% end %>
            </h3>

            <% if ! @last_answer.empty? %>
                <div class="alert <%= (@last_answer.include? "Correct") ? "alert-success" : "alert-danger" %>"
                    role="alert">
                    <%= @last_answer %>
                </div>
            <% end %>

        <% end %>
    </div>
    <div class="col-md-5">
        <div>
            You are on Question <%=@current_question_num%> of 5
        </div>

        <div>
            [<%= link_to "DELETE", quiz_path(@quiz.id), method: :delete%>]
        </div>

        <div>
            <% if ! @current_question.mediaurl.nil? and ! @current_question.mediaurl.empty? %>
                <img class="img-responsive img-rounded" 
                     src="/projectPics/<%=@current_question.mediaurl%>" 
                     alt="<%=@current_question.question%>"
                >
            <% end %>
        </div>
    </div>

</div>
