<div class="row">
    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h2>Title Earned
                        </h2>
                    </div>
                    <div class="panel-footer">
                        <h3>Congrats, you have earned 
                            <span class="badge alert-success"><%=@reward_amount%></span>
                                points in total!
                                You are a
                            <span class="badge alert-success"><%=@title%></span>! Your rank is  <span class="badge alert-success"><%= ranking %></span>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="row">
            <div class="panel panel-default">
                <a class="list-group-item active" href="#">Recommended Quizzees</a>
                    
                <% 
                       maximum = @done_new.max                                 
                       for i in 0..@done_new.count
                           if @done_new[i] == maximum
                               @index = i
                               break        
                           else    
                               i=i+1                                        
                           end 
                       end                                            
                %> 

                <% if maximum == 0 %>
                    <li class="list-group-item">
                        <%= link_to "#{Category.find(@index+1).category_name}", newquiz_path(category: @index+1, level: 1)%>
                    </li>                               
                <% else %>                    
                    <li class="list-group-item">
                        <%= link_to "#{Category.find(@index+1).category_name}", newquiz_path(category: @index+1, level: 3)%>
                    </li>          
                <% end %>                

                <%      
                        minimum = @done_new.min                                 
                            for i in 0..@done_new.count
                                if @done_new[i] == minimum && i!=@index
                                    @index_1 = i
                                    break        
                                else    
                                    i=i+1                                        
                                end 
                            end                                            
                %> 

                <li class="list-group-item">                
                    <%= link_to "#{Category.find(@index_1+1).category_name}", newquiz_path(category: @index_1+1, level: 1)%>      
                </li>                                      
            </div>
        </div>
        <div class="row">
            <ul class="list-group">
                <li class="list-group-item active" href="">Recent Quizzees</li>
                <% @recent.each do |rec|%>
                <li class="list-group-item">
                    <%= link_to "Quiz #{rec.id} with score #{rec.score}", quiz_path(rec.id)%>
                </li>
                <% end %>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <%= render template: "quizzes/index" %>
    </div>
</div>
    
