<h1>View Profile</h1>
<br>
<table>
   <tr>
      <td><p class="lead">First Name:</p></td>
      <td><p class="lead text-success"> <%= @profile.first_name %></p></td>
   </tr>
      <td><p class="lead">Last Name:</p></td>
      <td><p class="lead text-success"><%= @profile.last_name %></p></td>
   </tr>
   <tr>
      <td><p class="lead">Birthday:</p></td>
      <td><p class="lead text-success"><%= @profile.birthday %></p></td>
   </tr>
   <tr>
      <td><p class="lead">Email:</p></td>
      <td><p class="lead text-success"><%= @profile.email %></p></td>
   </tr>
   <tr>
     <td><%= link_to "Edit", edit_profile_path(@profile) , class: 'btn btn-primary' %></td> 
   </tr>
</table>
